.brand {
  font-size: 2.5em;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar {
  text-align: center;
}

.flex-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1em;
}

.main {
  width: 100%;
  max-width: 800px;
  padding: 2em;
}
